In [11]:
import numpy as np
import random
import pandas as pd

In [9]:
users = set(range(0,300))
items = set(range(0,500))

In [28]:
train = pd.DataFrame(columns=['user', 'item', 'rating'])
test = pd.DataFrame(columns=['user', 'item', 'rating'])

for user in users:
    rating = []
    total = random.randint(65, 75)
    train_size = random.randint(55, 60)
    for i in range(total):
        item = random.randint(0, len(items)-1)
        rating = random.choice([0, 1])
        row = pd.DataFrame({'user': [user], 'item': [item], 'rating': [rating]}, index=None)
        if i < train_size:
            train = pd.concat([train, row])
        else:
            test = pd.concat([test, row])

In [29]:
train = train.sort_values(by=['user', 'item'], ascending=[True, True])
test = test.sort_values(by=['user', 'item'], ascending=[True, True])

In [30]:
train

   user item rating
0     0    0      1
0     0    5      1
0     0   14      0
0     0   14      0
0     0   27      1
..  ...  ...    ...
0   299  475      0
0   299  481      0
0   299  487      1
0   299  491      1
0   299  497      1

[17261 rows x 3 columns]

In [31]:
test

   user item rating
0     0   28      1
0     0   62      1
0     0   66      1
0     0   82      1
0     0  148      1
..  ...  ...    ...
0   299  274      0
0   299  349      0
0   299  406      0
0   299  428      0
0   299  433      0

[3742 rows x 3 columns]